#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: red;
}

.display-panel {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  color: darkgreen;
}

.managment-panel {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}